{% extends 'base.html' %}

{% load static %}

{% block title %}
Estadísticas
{% endblock %}


{% block content %}

<div class="estadisticas-header">

    <h1>
        ESTADISTICAS DE AUDITORIAS
    </h1>

</div>


<h4>
    Seleccionar Consulta
</h4>


<!-- ================================================= -->
<!-- FILTROS -->
<!-- ================================================= -->

{% include "auditorias/partials/filtros_estadisticas.html" %}


<!-- ================================================= -->
<!-- GRÁFICAS -->
<!-- ================================================= -->

<div class="estadisticas-grid">


    <!-- ================================================= -->
    <!-- ESTADÍSTICAS NORMALES -->
    <!-- ================================================= -->

    {% include "auditorias/partials/no_cumplen.html" %}

    {% include "auditorias/partials/operaciones.html" %}

    {% include "auditorias/partials/hallazgos_tecnico.html" %}

    {% include "auditorias/partials/errores_tecnico.html" %}

    {% include "auditorias/partials/cantidad_hallazgos.html" %}

    {% include "auditorias/partials/cantidad_auditorias_auditor.html" %}

    {% include "auditorias/partials/auditorias_dia.html" %}

    {% include "auditorias/partials/auditorias_digitador.html" %}


    <!-- ================================================= -->
    <!-- RESULTADOS POR TÉCNICO -->
    <!-- ================================================= -->

    <div
        class="resultado-auditorias-tecnico-container"
        style="display: none;"
    >


        <!-- ================================================= -->
        <!-- RESULTADO AUDITORÍAS POR TÉCNICO -->
        <!-- ================================================= -->

        <div class="tabla-scroll tabla-resultado-tecnico">

            {% include "auditorias/partials/resultado_auditorias_tecnico.html" %}

        </div>


        <!-- ================================================= -->
        <!-- ERRORES POR TÉCNICO -->
        <!-- ================================================= -->

        <div class="tabla-scroll tabla-errores-tecnico">

            {% include "auditorias/partials/tabla_Errores_tecnico.html" %}

        </div>


        <!-- ================================================= -->
        <!-- RESULTADO DIARIO POR TÉCNICO -->
        <!-- ================================================= -->

        <div class="tabla-scroll tabla-resultado-diario-tecnico">

            {% include "auditorias/partials/resultado_diario_tecnico.html" %}

        </div>


    </div>


    <!-- ================================================= -->
    <!-- RESULTADOS POR DIGITADOR -->
    <!-- ================================================= -->

    <div
        class="resultado-auditorias-digitador-container"
        style="display: none;"
    >


        <div class="tabla-scroll tabla-resultado-digitador">

            {% include "auditorias/partials/resultado_auditorias_digitador.html" %}

        </div>


    </div>


</div>



<!-- ================================================= -->
<!-- EXPORTAR -->
<!-- ================================================= -->

<div class="exportar-container">

    <a
        id="btnExportarEstadisticas"
        href="{% url 'exportar-estadisticas' %}"
        class="btn-exportar"
    >
        📊 Exportar estadísticas a Excel
    </a>

</div>



<!-- ================================================= -->
<!-- DATOS DJANGO -->
<!-- ================================================= -->

{{ datos_operaciones|json_script:"datos-operaciones" }}

{{ Auditoria_Dia|json_script:"datos-Auditoria_Dia" }}

{{ Datos_No_Cumplen|json_script:"datos-No-Cumplen" }}

{{ Estadisticas_Tecnico|json_script:"datos-tecnicos" }}

{{ Errores_Por_Tecnicos|json_script:"datos-Errores-Por-Tecnicos" }}

{{ Estadisticas_Tecnico|json_script:"datos-Hallazgos-Tecnico" }}

{{ Cantidad_Por_Hallazgo|json_script:"datos-Cantidad-Por-Hallazgo" }}

{{ Auditorias_Por_Digitador|json_script:"datos-Auditorias-Por-Digitador" }}

{{ Errores_Detallados_Tecnico|json_script:"datos-Errores-Detallados-Tecnico" }}

{{ Resultado_Auditorias_Tecnico|json_script:"datos-Resultado-Auditorias-Tecnico" }}

{{ Resultado_Auditorias_Digitador|json_script:"datos-Resultado-Auditorias-Digitador" }}

{{ Cantidad_Auditorias_Auditor|json_script:"datos-Cantidad-Auditorias-Auditor" }}

{{ Resultado_Diario_Tecnico|json_script:"datos-Resultado-Diario-Tecnico" }}



<!-- ================================================= -->
<!-- LIBRERÍAS -->
<!-- ================================================= -->

<link
    href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css"
    rel="stylesheet"
>

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>



<!-- ================================================= -->
<!-- JAVASCRIPT -->
<!-- ================================================= -->

<script src="{% static 'js/operaciones.js' %}"></script>

<script src="{% static 'js/auditorias_dia.js' %}"></script>

<script src="{% static 'js/no_cumplen.js' %}"></script>

<script src="{% static 'js/hallazgos_tecnico.js' %}"></script>

<script src="{% static 'js/errores_tecnico.js' %}"></script>

<script src="{% static 'js/cantidad_hallazgos.js' %}"></script>

<script src="{% static 'js/auditorias_digitador.js' %}"></script>

<script src="{% static 'js/cantidad_auditorias_auditor.js' %}"></script>

<script src="{% static 'js/resultado_auditorias_tecnico.js' %}"></script>

<script src="{% static 'js/resultado_auditorias_digitador.js' %}"></script>

<script src="{% static 'js/errores_detallados_tecnico.js' %}"></script>

<script src="{% static 'js/resultado_diario_tecnico.js' %}"></script>



<!-- ================================================= -->
<!-- CONTROL DE VISTAS -->
<!-- ================================================= -->

<script>

document.addEventListener(
    "DOMContentLoaded",
    function () {

        console.log(
            "=== ESTADÍSTICAS DE AUDITORÍAS ==="
        );


        /* =====================================================
           FILTRO
           ===================================================== */

        const filtroResultado =
            document.getElementById(
                "filtroResultado"
            );


        /* =====================================================
           CONTENEDOR TÉCNICOS
           ===================================================== */

        const tablaTecnicos =
            document.querySelector(
                ".resultado-auditorias-tecnico-container"
            );


        /* =====================================================
           CONTENEDOR DIGITADORES
           ===================================================== */

        const tablaDigitadores =
            document.querySelector(
                ".resultado-auditorias-digitador-container"
            );


        /* =====================================================
           GRID
           ===================================================== */

        const grid =
            document.querySelector(
                ".estadisticas-grid"
            );


        if (!grid) {

            console.error(
                "❌ No se encontró .estadisticas-grid"
            );

            return;

        }


        /* =====================================================
           ESTADÍSTICAS NORMALES
           ===================================================== */

        const elementosEstadisticas =
            Array.from(
                grid.children
            ).filter(
                function (elemento) {

                    return (
                        !elemento.classList.contains(
                            "resultado-auditorias-tecnico-container"
                        )
                        &&
                        !elemento.classList.contains(
                            "resultado-auditorias-digitador-container"
                        )
                    );

                }
            );


        /* =====================================================
           MOSTRAR VISTA
           ===================================================== */

        function mostrarVista() {

            /*
             * Si no existe filtro,
             * mostramos estadísticas normales.
             */

            if (!filtroResultado) {

                elementosEstadisticas.forEach(
                    function (elemento) {

                        elemento.style.display = "";

                    }
                );

                if (tablaTecnicos) {

                    tablaTecnicos.style.display = "none";

                }

                if (tablaDigitadores) {

                    tablaDigitadores.style.display = "none";

                }

                return;

            }


            const valor =
                filtroResultado.value;


            console.log(
                "Filtro resultado:",
                valor
            );


            /* =================================================
               TÉCNICOS
               ================================================= */

            if (valor === "tecnicos") {

                elementosEstadisticas.forEach(
                    function (elemento) {

                        elemento.style.display = "none";

                    }
                );


                if (tablaTecnicos) {

                    tablaTecnicos.style.display = "block";

                }


                if (tablaDigitadores) {

                    tablaDigitadores.style.display = "none";

                }

            }


            /* =================================================
               DIGITADORES
               ================================================= */

            else if (valor === "digitadores") {

                elementosEstadisticas.forEach(
                    function (elemento) {

                        elemento.style.display = "none";

                    }
                );


                if (tablaTecnicos) {

                    tablaTecnicos.style.display = "none";

                }


                if (tablaDigitadores) {

                    tablaDigitadores.style.display = "block";

                }

            }


            /* =================================================
               TODAS
               ================================================= */

            else {

                elementosEstadisticas.forEach(
                    function (elemento) {

                        elemento.style.display = "";

                    }
                );


                if (tablaTecnicos) {

                    tablaTecnicos.style.display = "none";

                }


                if (tablaDigitadores) {

                    tablaDigitadores.style.display = "none";

                }

            }

        }


        /* =====================================================
           CAMBIO FILTRO
           ===================================================== */

        if (filtroResultado) {

            filtroResultado.addEventListener(
                "change",
                mostrarVista
            );

        }


        /* =====================================================
           ESTADO INICIAL
           ===================================================== */

        mostrarVista();


        console.log(
            "✅ Control de vistas cargado"
        );

    }
);

</script>



<!-- ================================================= -->
<!-- CSS -->
<!-- ================================================= -->

<style>


/* =========================================================
   GRID PRINCIPAL
   ========================================================= */

.estadisticas-grid {

    display: grid;

    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 1fr);

    gap: 25px;

    margin-top: 25px;

    align-items: start;

}


/* =========================================================
   TARJETAS
   ========================================================= */

.grafica-card {

    min-width: 0;

    width: 100%;

    max-width: 100%;

    background: #ffffff;

    border-radius: 14px;

    padding: 20px;

    box-sizing: border-box;

    box-shadow:
        0 2px 10px
        rgba(15, 23, 42, 0.06);

    border:
        1px solid
        #e2e8f0;

}


/* =========================================================
   TÍTULOS
   ========================================================= */

.grafica-card h2 {

    margin-top: 0;

    color: #0f172a;

}


/* =========================================================
   DESCRIPCIONES
   ========================================================= */

.grafica-descripcion {

    color: #64748b;

    font-size: 14px;

}


/* =========================================================
   CHART
   ========================================================= */

.chart-container {

    position: relative;

    width: 100%;

    min-height: 350px;

}


.chart-grande {

    min-height: 450px;

}


.chart-digitadores {

    min-height: 500px;

}


/* =========================================================
   CONTENEDORES RESULTADOS
   ========================================================= */

.resultado-auditorias-tecnico-container,
.resultado-auditorias-digitador-container {

    min-width: 0;

    width: 100%;

    max-width: 100%;

    box-sizing: border-box;

}


.resultado-auditorias-tecnico-container,
.resultado-auditorias-digitador-container {

    grid-column: 1 / -1;

}


/* =========================================================
   TABLAS
   ========================================================= */

.tabla-scroll {

    width: 100%;

    max-width: 100%;

    min-width: 0;

    box-sizing: border-box;

}


.tabla-errores-tecnico {

    width: 100%;

    max-width: 100%;

    min-width: 0;

    box-sizing: border-box;

}


.tabla-errores-tecnico
.tabla-responsive {

    width: 100%;

    max-width: 100%;

    min-width: 0;

    box-sizing: border-box;

}


/* =========================================================
   RESULTADO DIARIO
   ========================================================= */

.tabla-resultado-diario-tecnico {

    width: 100%;

    max-width: 100%;

    min-width: 0;

    box-sizing: border-box;

    margin-top: 25px;

}


.tabla-resultado-diario-tecnico
.grafica-card {

    width: 100%;

    max-width: 100%;

}


/* =========================================================
   FILTROS
   ========================================================= */

.filtros-card {

    background: #ffffff;

    border: 1px solid #e2e8f0;

    border-radius: 10px;

    padding: 12px 15px;

    margin-top: 0;

    box-shadow:
        0 2px 8px
        rgba(15, 23, 42, 0.05);

}


.estadisticas-header {

    text-align: center;

    margin-top: 0;

    padding-top: 0;

}


.estadisticas-header h1 {

    margin-top: -20px;

    margin-bottom: 10px;

}


.estadisticas-header + h4 {

    margin-top: 0;

    margin-bottom: 5px;

}


/* =========================================================
   GRID FILTROS
   ========================================================= */

.filtros-grid {

    display: grid;

    grid-template-columns:
        repeat(4, minmax(0, 1fr));

    gap: 8px 10px;

}


/* =========================================================
   LABELS
   ========================================================= */

.filtros-grid label {

    display: block;

    font-weight: 600;

    font-size: 12px;

    margin-bottom: 3px;

    color: #475569;

}


/* =========================================================
   SELECT
   ========================================================= */

.filtros-grid select {

    width: 100%;

    height: 34px;

    padding: 5px 8px;

    border: 1px solid #cbd5e1;

    border-radius: 6px;

    box-sizing: border-box;

    font-size: 12px;

    background: #ffffff;

}


/* =========================================================
   BOTONES
   ========================================================= */

.filtros-botones {

    margin-top: 10px;

    display: flex;

    gap: 7px;

}


.btn-filtrar {

    border: none;

    height: 34px;

    padding: 5px 14px;

    border-radius: 6px;

    background: #2f8cc2;

    color: white;

    cursor: pointer;

    font-size: 12px;

    font-weight: 600;

}


.btn-limpiar {

    display: inline-flex;

    align-items: center;

    height: 34px;

    padding: 5px 14px;

    border-radius: 6px;

    background: #f3ad5c;

    color: #000000;

    text-decoration: none;

    font-size: 12px;

    font-weight: 600;

    box-sizing: border-box;

}


/* =========================================================
   EXPORTAR
   ========================================================= */

.exportar-container {

    margin-top: 25px;

    margin-bottom: 30px;

}


.btn-exportar {

    display: inline-block;

    padding: 11px 18px;

    background: #16a34a;

    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: 600;

    box-shadow:
        0 2px 6px
        rgba(0, 0, 0, .10);

}


/* =========================================================
   RESPONSIVE
   ========================================================= */

@media (max-width: 1000px) {

    .filtros-grid {

        grid-template-columns:
            repeat(3, minmax(0, 1fr));

    }

}


@media (max-width: 700px) {

    .filtros-grid {

        grid-template-columns:
            repeat(2, minmax(0, 1fr));

    }

}


@media (max-width: 450px) {

    .filtros-grid {

        grid-template-columns: 1fr;

    }

}

</style>


{% endblock %}
