# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
venv/
env/
.venv/

# Django
db.sqlite3

# Variables de entorno
.env
.env.*

# Archivos generados por Django
staticfiles/

# Archivos temporales
*.log

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
