<div class="grafica-card grafica-full-hallazgos">

    <div class="grafica-header-hallazgos">

        <h2>
            Cantidad de hallazgos
        </h2>

        <p class="grafica-descripcion">
            Cantidad de veces que aparece cada hallazgo.
        </p>

    </div>


    <div class="chart-container-hallazgos">

        <canvas id="graficaCantidadHallazgos"></canvas>

    </div>

</div>


<style>

.chart-container-hallazgos {

    width: 100%;

    height: 550px;

    max-height: 550px;

    overflow-y: auto;

    overflow-x: hidden;

    box-sizing: border-box;

    padding-right: 10px;

    position: relative;

    background: #ffffff;
}


.chart-container-hallazgos canvas {

    display: block;

}


.chart-container-hallazgos::-webkit-scrollbar {

    width: 8px;

}


.chart-container-hallazgos::-webkit-scrollbar-track {

    background: #f1f5f9;

}


.chart-container-hallazgos::-webkit-scrollbar-thumb {

    background: #94a3b8;

    border-radius: 10px;

}


@media (max-width: 768px) {

    .chart-container-hallazgos {

        height: 500px;

        max-height: 500px;

    }

}

</style>
