<div class="grafica-card">

    <h2>Errores por técnico</h2>

    <p class="grafica-descripcion">
        Identificación de los tipos de hallazgo por técnico.
    </p>

    <div class="contenedor-grafica-tecnicos">
        <canvas id="graficaErroresTecnico"></canvas>
    </div>

</div>

<style>

.contenedor-grafica-tecnicos {

    width: 100%;

    height: 500px;

    overflow-y: auto;

    overflow-x: hidden;

    padding-right: 8px;

    padding-bottom: 10px;

    box-sizing: border-box;

}


/*
 * CANVAS
 *
 * IMPORTANTE:
 * No colocar height: auto.
 *
 * La altura la controla
 * JavaScript.
 */

.contenedor-grafica-tecnicos canvas {

    display: block;

    width: 100% !important;

    max-width: 100%;

}


/*
 * SCROLL
 */

.contenedor-grafica-tecnicos::-webkit-scrollbar {

    width: 8px;

}


.contenedor-grafica-tecnicos::-webkit-scrollbar-track {

    background: #f1f5f9;

    border-radius: 10px;

}


.contenedor-grafica-tecnicos::-webkit-scrollbar-thumb {

    background: #94a3b8;

    border-radius: 10px;

}


.contenedor-grafica-tecnicos::-webkit-scrollbar-thumb:hover {

    background: #64748b;

}


/*
 * Firefox
 */

.contenedor-grafica-tecnicos {

    scrollbar-width: thin;

    scrollbar-color:
        #94a3b8
        #f1f5f9;

}

</style>
