<div class="grafica-card grafica-card-tecnicos">

    <h2>Hallazgos Por Técnico</h2>

    <p class="grafica-descripcion">
        Cantidad total de errores encontrados en auditorías que no cumplen.
    </p>

    <div class="grafica-scroll-tecnicos">

        <div class="grafica-contenedor-tecnicos">

            <canvas id="graficaHallazgosTecnico"></canvas>

        </div>

    </div>

</div>



<style>

.grafica-card-tecnicos {

    width: 100%;
    height: 640px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

}


.grafica-scroll-tecnicos {

    width: 100%;
    flex: 1;

    min-height: 0;

    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: border-box;

    padding-right: 8px;

}


.grafica-contenedor-tecnicos {

    width: 100%;
    min-width: 0;

}


.grafica-contenedor-tecnicos canvas {

    display: block;

    width: 100% !important;

}


</style>
