{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Auditorías
        {% endblock %}
    </title>

    <!-- CSS general -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <!-- CSS específico de cada página --> 
     {% block extra_css %} 
     {% endblock %}

    
</head>

<body>

<div class="layout">
    <aside class="sidebar">

        <a href="{% url 'index' %}"><img src="{% static 'img/LOGOBSI (3).png' %}" alt="Logo" class="logo"></a>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/casa.png' %}" alt="Inicio">
                        <span>Inicio</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'carga' %}">
                        <img src="{% static 'img/cargando.png' %}" alt="Carga">
                        <span>Carga Auditorías y Técnicos</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'estadistica' %}">
                        <img src="{% static 'img/beneficios.png' %}" alt="Estadísticas">
                        <span>Estadísticas</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'consulta' %}">
                        <img src="{% static 'img/lupa.png' %}" alt="Consultas">
                        <span>Consultas</span>
                    </a>
                </li>

                <div class="reauditar">
                    <li>
                        <a href="{% url 'reauditar' %}">
                            <img src="{% static 'img/revision.png' %}" alt="Reauditar">
                            <span>Mes Actual Reauditar / Auditar</span>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </aside>

    <section class="contenido">
        {% block content %}
        {% endblock %}
    </section>

</div>


</body>

</html>